h1 {
    color: rgb(4, 4, 129);
    text-align: center;
}

h4 {
    font: bold;
}


div {
    margin: 30px;
    font-family: Helvetica, Arial, sans-serif;

}

table {
    border:  2px solid black;
    border-collapse: collapse;
    width: 50%;
    height: 25%px;
    
}

th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color:  rgb(219, 219, 219);
}